<%- include("partials/header.ejs") %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong">
</head>
<body>
  <!-- <home page --------------------------------------------------------> 
  <div class="container-fluid kolom" id="homeid">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
          <div class="col-md-7 col-12 hero-text order-md-0 order-1 pt-5">
            <h1 class="designtext">WE WILL HELP YOU TO</h1>
            <h1 class="designtextfot">GROW YOUR BUSINESS</h1>
            <P class="designtext1">We Are Then Team Of Professional Developer<span class="bold-style"></span> 👌</span></P>
            <button class="btn btn-dark">Read More</button>
          </div>
          <div class="col-md-5 col-12 hero-text order-md-2 order-0 pt-20 ">
            <img class="imgtoptp" src="https://img.freepik.com/free-vector/blank-sign-template-with-happy-girl-white-background_1308-43899.jpg?w=360&t=st=1704303460~exp=1704304060~hmac=2cb8ca3d2bff9137431fc09bd89534d9a3df679213fc6381028f00a508d0b1a11"             alt="image-fast"
            height="530px" width="490px" />
          </div>
        </div>
        </div>
        </div>
        </div>
        
            <%- include("about.ejs") %>
            <%- include("service.ejs") %>
            <%- include("partials/map.ejs") %>
            <%- include("contact.ejs") %>
            <%- include("partials/footer.ejs") %>


          </body>   
</html>